<div class='demo-navbar'>
  {{#frost-button
    class='brand hoverable-action'
    hook=(concat hook '-brandAction')
    priority=''
    size=''
  }}
    {{frost-icon
      hook=(concat hook '-brandImage')
      icon='company'
      pack='frost-demo-components'
    }}
  {{/frost-button}}

  {{#each links as |link|}}
    {{#if link.links}}
      {{#frost-button
        class='navigation menu hoverable-action'
        hook=(concat hook '-linkAction')
        priority=''
        size=''
      }}
        <div class='icon-text'>
          <div class='text'>{{link.title}}</div>
          {{frost-icon
            class='expand'
            hook=(concat hook '-expandIcon')
            icon='expand-collapse'
          }}
        </div>
        {{#frost-popover position='bottom' as |close|}}
         <div class='popup-menu'>
           <ul>
             {{#each link.links as |link|}}
              {{#link-to link.route}}
                 <li id='{{link.route}}'>{{link.title}}</li>
              {{/link-to}}
             {{/each}}
           </ul>
         </div>
       {{/frost-popover}}
      {{/frost-button}}
    {{else}}
      {{#link-to link.route}}
        {{frost-button
          class='navigation menu hoverable-action'
          hook=(concat hook '-linkAction')
          priority=''
          size=''
          text=link.title
        }}
      {{/link-to}}
    {{/if}}
  {{/each}}
</div>
